*, *::before, *::after {
	box-sizing: border-box;
}

body {
	color: #333;
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	margin: 0 auto;
	max-width: 1536px;
}
h1 {
	color: black;
	font-family: "Playfair Display", serif;
	font-size: 64px;
	font-weight: 700;
	margin-top: 0;
	text-decoration: none;
}
h2 {
	color: black;
	font-family: "Roboto", sans-serif;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
a, a:focus, a:hover {
	color: #FFC600;
	font-weight: 600;
	text-decoration: none;
}
p {
	line-height: 1.75;
	text-align: justify;
}

/*******************************************************************************
 * NAVIGATION
 ******************************************************************************/
nav {
	height: 100%;
	width: 400px;
	position: fixed;
}
nav::before {
	border-right: 1px solid #D3D3D3;
	content: "";
	height: calc(100% - 160px);
	width: 100%;
	position: absolute;
	top: 80px;
	bottom: 80px;
	z-index: -999;
}
nav ul {
	list-style-type: none;
	margin-top: 25px;
	margin-left: 152px;
}
nav li a, nav li a:focus, nav li a:hover {
	color: #333;
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	line-height: 2;
	text-decoration: none;
	text-transform: uppercase;
}

/*******************************************************************************
 * AVATAR
 ******************************************************************************/
.avatar {
	height: 248px;
	width: 248px;
	margin: 85px auto 20px 95px;
	transform: scaleX(-1);
}
.background {
	background-color: #FFC600;
	border-radius: 50%;
	height: 230px;
	width: 230px;
	position: absolute;
	top: 20px;
	z-index: -5;
}
.background-hide {
	border: 20px solid white;
	border-radius: 50%;
	content: "";
	height: 268px;
	width: 268px;
	left: -20px;
	position: absolute;
	z-index: 999;
}
.head {
	background-color: #FFDBAC;
	border-radius: 45px;
	height: 95px;
	width: 60px;
	position: absolute;
	top: 55px;
	left: 85px;
}
.head::before {
	background-color: #FFDBAC;
	border-radius: 50px;
	content: "";
	height: 16px;
	width: 16px;
	position: absolute;
	top: 50px;
	left: 54px;
	z-index: -2;
}
.head::after {
	background-color: #F1C27D;
	border-radius: 4px;
	content: "";
	height: 8px;
	width: 8px;
	position: absolute;
	top: 54px;
	left: 58px;
	z-index: -1;
}
.hair_back {
	background-color: black;
	border-radius: 50px;
	height: 150px;
	width: 85px;
	position: absolute;
	top: -10px;
	left: -8px;
	z-index: -3;
}
.hair_front-l {
	background-color: black;
	border-radius: 120px 0 120px 0;
	height: 50px;
	width: 28px;
	position: absolute;
	z-index: 3;
}
.hair_front-l::before {
	background-color: black;
	content: "";
	height: 32px;
	width: 32px;
	position: absolute;
	top: -2px;
	left: 20px;
}
.hair_front-l::after {
	background-color: #FFDBAC;
	border-radius: 25px 0 0 0;
	content: "";
	height: 25px;
	width: 28px;
	position: absolute;
	top: 16px;
	left: 24px;
}
.hair_front-r {
	background-color: black;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	height: 40px;
	width: 20px;
	position: absolute;
	top: 4px;
	left: 50px;
	z-index: 4;
}
.eyebrows {
	background-color: black;
	border-radius: 20px;
	height: 6px;
	width: 14px;
	position: absolute;
	top: 42px;
	left: 42px;
	transform: rotate(10deg);
	z-index: 3;
}
.eyes {
	background-color: black;
	border-radius: 50px;
	box-shadow: 38px 0 black;
	height: 10px;
	width: 10px;
	position: absolute;
	top: 52px;
	left: 4px;
	z-index: 3;
}
.nose {
	background-color: #F1C27D;
	border-radius: 50px;
	height: 14px;
	width: 6px;
	position: absolute;
	top: 56px;
	left: 24px;
	z-index: 3;
}
.mouth {
	background-color: black;
	border-radius: 0 0 50px 50px;
	height: 10px;
	width: 20px;
	position: absolute;
	top: 76px;
	left: 18px;
	transform: rotate(-10deg);
	z-index: 3;
}
.neck {
	background-color: #F1C27D;
	border-radius: 10px;
	height: 35px;
	width: 20px;
	position: absolute;
	top: 140px;
	left: 108px;
	z-index: -1;
}
.body {
	background-color: #333;
	border-radius: 50px 50px 0 0;
	height: 100px;
	width: 60px;
	position: absolute;
	top: 156px;
	left: 88px;
	transform: rotate(2deg);
	transform-origin: top center;
	z-index: -2;
}
.arm-r {
	background-color: #333;
	border-radius: 50px;
	height: 85px;
	width: 20px;
	position: absolute;
	top: 164px;
	left: 140px;
	transform: rotate(-15deg);
	z-index: -3;
}
.arm-l {
	background-color: #333;
	border-radius: 50px;
	height: 80px;
	width: 20px;
	position: absolute;
	top: 158px;
	left: 70px;
	transform: rotate(30deg);
	z-index: -3;
}
.arm-l_wave {
	background-color: #333;
	border-radius: 50px;
	height: 70px;
	width: 20px;
	z-index: -2;
}
.hand {
	background-color: #FFDBAC;
	border-radius: 50px;
	height: 32px;
	width: 22px;
	position: absolute;
	top: -25px;
	transform: rotate(-2deg);
	z-index: 999;
}
.hand::after {
	background-color: #FFDBAC;
	border-radius: 50px;
	content: "";
	height: 16px;
	width: 6px;
	position: absolute;
	top: 8px;
	left: 16px;
	transform: rotate(25deg);
	transform-origin: center bottom;
}
.animate {
	animation: wave 2s linear infinite;
	top: 157px;
	left: 59px;
	position: absolute;
	transform-origin: center bottom;
	z-index: 999;
}
@keyframes wave {
	0% {
		transform: rotate(-55deg);
	}
	50% {
		transform: rotate(-35deg) translateX(-2px) translateY(5px);
	}
	100% {
		transform: rotate(-55deg);
	}
}

/*******************************************************************************
 * CONTENT
 ******************************************************************************/
.content {
	margin-left: 400px;
	margin-right: 100px;
	padding: 100px 50px;
}
#about, #project {
	margin-bottom: 25px;
}
#about::before, #projects::before {
	content: " ";
	display: block;
	height: 100px;
	margin-top: -100px;
	visibility: hidden;
}
.social {
	margin-top: 20px;
}
.social a {
	color: #D3D3D3;
	font-size: 18px;
}
.projects {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 20px;
}
.projects a {
	color: #333;
	flex: 0 1 32%;
}
.project {
	display: flex;
	align-items: center;
	justify-content: center;
	background: url("../img/project-bkgrd.png");
	background-position: 3px 45%;
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid #D3D3D3;
	height: 150px;
	margin-bottom: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
}
.project .project-title {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.project-desc i {
	color: #D3D3D3;
	margin-right: 20px;
}
.project-desc ul {
	margin-left: -10px;
}
.project-desc ul li {
	padding-left: 8px;
}
.project-img {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-top: 40px;
	margin-bottom: 15px;
}
.project-img .thumbnail {
	border: 0;
	border-radius: 0;
	height: 200px;
	width: 200px;
	overflow: hidden;
	position: relative;
}
.project-img .thumbnail img {
	height: 200px;
	width: 100%;
	left: 50%;
	object-fit: cover;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
}
.project-img .thumbnail img.portrait {
	display: block;
	object-fit: cover;
	height: auto;
	width: 200px;
	position: absolute;
	top: 0;
}

/*******************************************************************************
 * MODAL
 ******************************************************************************/
.modal {
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    overflow: auto;
    position: fixed;
    padding-top: 100px;
    top: 0;
    left: 0;
    z-index: 4;
}
.modal a {
	color: #FFC600;
}
.modal-content {
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: auto;
    max-width: 800px;
    transition: 0.3s;
}
#caption {
    color: #ccc;
    display: block;
    margin: auto auto 100px;
    padding: 10px 0;
    text-align: center;
}
#captionText {
    display: none;
}
.close {
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 35px;
    top: 15px;
    transition: 0.3s;
}
.close:hover, .close:focus {
    color: #bbb;
    cursor: pointer;
    text-decoration: none;
}

/*******************************************************************************
 * MEDIA QUERIES
 ******************************************************************************/
@media only screen and (max-width: 1280px) {
	.project a {
		flex: 0 1 48.5%;
	}
}

@media only screen and (max-width: 1024px) {
	h1, h1 + p, .social, h2 {
		text-align: center;
	}
	nav {
		height: 325px;
		margin: 20px auto;
		overflow: hidden;
		position: relative;
		width: 320px;
	}
	nav::before {
		border: none;
	}
	nav ul {
		margin-left: 0;
		padding-top: 15px;
		padding-left: 0;
		text-align: center;
	}
	nav ul li {
		display: inline-block;
		margin-right: 20px;
	}
	nav ul li:last-child {
		margin-right: 0;
	}
	.avatar {
		margin: 0 auto;
		left: -14px;
		position: relative;
	}
	.content {
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
	}
}
@media only screen and (max-width: 720px) {
	.content {
		padding-bottom: 50px;
		word-wrap: break-word;
	}
	.project-img .thumbnail {
		margin-bottom: 35px;
	}
	.project-img .thumbnail:last-child {
		margin-bottom: 0;
	}
}
@media only screen and (max-width: 480px) {
	.projects {
		justify-content: space-around;
	}
	.project {
		width: 150px;
	}
	.project .project-title {
		font-size: 12px;
		margin-top: -5px;
	}
}
@media only screen and (max-width: 320px) {
	.project {
		height: 100px;
		width: 225px;
	}
}
