*,
*::before,
*::after {
	box-sizing: border-box;
}

@import "~react-image-gallery/styles/css/image-gallery.css";

body {
	height: 100%;
	margin: 0;
	padding: 0 !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
	font-size: 12px;
}

.undo {
	display: inline-block;
	cursor: pointer;
	margin-left: 8px;
	position: relative;
	top: -2px;
}

.undo i {
	color: #e1e1e0;
	font-size: 1.25rem;
}

.undo i:hover {
	color: #ffc600;
}
